html{
	width:100%;
	min-width:1000px;
	height: 100%;
	overflow-x: auto;
	background-color:#f7f7f7;
}

img{
	padding: 4px
}

h1{
	font-family: 'verdana';
    font-weight: normal;
    font-style: normal;
	text-align: center;
}

table, td{
	font-family: 'verdana';
	font-size:small;
    font-weight: normal;
    font-style: normal;
	border-style: collapse;
	background-color: #f4f4f4;
}

th{
	background-color:#70e0ff;
	text-align: center;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #fcfcfc;}

#header{
	background-color:#70e0ff;
	width:100%;
}

#uploaded-image {
	padding: 20px;
}